@media screen and (max-width:576px) {
  .navbar{
    flex-direction: column;
  }
 
  .container{
    width: 100%;
  }
  .banner{
    padding: 3rem 2rem;
  }
  .banner h2 {
    font-size: 2rem;
  }
  .banner-input {
    flex-direction: column;
    text-align: center;
  }
  .banner-input input{
    width: 100%;
  }
  .banner-input select{
    width: 100%;
  }
  .btn-primary{
    width: 100%;
  }
  .popular-section{
    flex-direction: column;
  }
  .popular-img img{
    width: 100%;
  }
  .destination-section h2{
    font-size: 1.5rem;
  }
  .destination-info1{
    grid-template-columns: repeat(1, 1fr);
  }
  .destination-info2{
    grid-template-columns: repeat(1, 1fr);
  }
  .destination-info3{
    grid-template-columns: repeat(1, 1fr);
  }
  .testimonial-section{
    flex-direction: column;
  }
  .newsletter-img img{
    width: 100%;
  }
}